#add {  
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
  
    background: #fff;
    color: #000;
    font-size: 1em;
    text-decoration: none;
}

#add:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
    cursor: pointer;
}

#user_input:focus {
    border: 2px solid purple;
}